.gradle
.settings
.vagrant
.bulkloader
out/
classes/
bin
build
logs
resources/sentinelOutputRoot/*
logs
.project
.classpath
.idea
*.iml
*.yaml
AuthenticationResponse.txt
dummyresponse/
*.iws
*.ipr
/build
build
input
output
data
data/*.txt
data/*ready
data/*.lock
data/inbox/*
data/inbox_remote/*
data/outbox
data/processed/*
data/test*/*
data/generated
data/sampleData
data/downloading
src/main/groovy/com/tgt/ods/bulkloader/playpen
.DS_Store
input/sortedbigfile/output
log